https://tr0jan.xyz {
  gzip
  basicauth / cc admin
  tls /root/.acme.sh/tr0jan.xyz/tr0jan.xyz.cer /root/.acme.sh/tr0jan.xyz/tr0jan.xyz.key
  proxy / https://www.bingimg.cn/
}
https://ariang.tr0jan.xyz {
  root /root/Ariang
  gzip
  tls /root/.acme.sh/tr0jan.xyz/tr0jan.xyz.cer /root/.acme.sh/tr0jan.xyz/tr0jan.xyz.key
  timeouts none
  tls chenjiepeng4net@gmail.com 
}
https://download.tr0jan.xyz {
  root /root/Ariang/download
  gzip
  tls /root/.acme.sh/tr0jan.xyz/tr0jan.xyz.cer /root/.acme.sh/tr0jan.xyz/tr0jan.xyz.key
  timeouts none
  proxy / localhost:8080
}
